.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}
.loginPage .loginBlock {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
}
.loginPage .loginBlock .blueBg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.loginPage .loginBlock .blueBg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginPage .loginBlock .blueBg .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.loginPage .loginBlock .blueBg .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  border: none;
}
.loginPage .loginBlock .formBx {
  position: absolute;
  top: 0%;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
}
.loginPage .loginBlock .formBx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}
.loginPage .loginBlock .formBx .form form {
  display: flex;
  flex-direction: column;
}
.loginPage .loginBlock .formBx .form form h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}
.loginPage .loginBlock .formBx .form .btn-submit,
.loginPage .loginBlock .formBx .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}
.loginPage .loginBlock .formBx .form .btn-submit {
  border: none;
  color: #fff;
  max-width: 100px;
  cursor: pointer;
  transition: 0.5s;
}
.loginPage .loginBlock .formBx .form form .forgot {
  color: #333;
}
.loginPage .loginBlock .formBx .signinForm {
  transition-delay: 0.25s;
}
.loginPage .loginBlock .formBx .signinForm .btn-submit {
  background: #03a9f4;
}
.loginPage .loginBlock .formBx .signupForm {
  left: 100%;
  transition-delay: 0s;
}
.loginPage .loginBlock .formBx .signupForm .btn-submit {
  background: #f44648;
}

.active .loginBlock .formBx {
  left: 50%;
}
.active .loginBlock .formBx .signinForm {
  left: -100%;
  transition-delay: 0s;
}
.active .loginBlock .formBx .signupForm {
  left: 0;
  transition-delay: 0.25s;
}
@media screen and (max-width: 991px) {
  .loginPage .loginBlock {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .loginPage .loginBlock .blueBg {
    top: 0;
    height: 100%;
 }
  .loginPage .loginBlock .blueBg .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
 }
  .loginPage .loginBlock .blueBg .signin {
    top: 0;
 }
  .loginPage .loginBlock .formBx {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
 }
  .loginPage .loginBlock .formBx .active {
    left: 0;
    top: 150px;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }
}
